<template>
  <q-page class="page-st">
    <div class="page-container">
        <q-card class="main-card">
            <div class="card-container">
                <q-card-section class="documentos-card-header">
                    <center>
                        <div class="text-h6"><q-icon size="lg"  name="badge"/>&nbsp;<b>Documentos Personales </b></div>
                    </center>
                </q-card-section>
                <q-card-section>
                   <center>Pendiente</center>
                </q-card-section>
            </div>
        </q-card>
        <DocumentoDialog :show_dialog="show_dialog" :id_documento="id_documento" />

    </div>
  </q-page>
</template>

<script>
import DocumentoDialog from 'src/components/DocumentoDialog.vue';
export default {
    name:"Documentos",
    data() {
        return {
            show_dialog:false,
            id_documento: 0,
        }
    },
    components: {
        DocumentoDialog,
    }
}
</script>

<style>
    .page-st {
        padding-left:5px;
        align-content: center;
    }
    .page-container {
        height: 670px;
        overflow-y:scroll;
        padding-left:20px;
        padding-top:20px;
    }
    .main-card {
        border:1px;
        border-style:none;
        width:350px;
        margin-bottom:15px;
    }
    .card-container {
        padding:0px;
        background-color: #f4f7fd;
        
    }
    .documentos-card-header {
        background-color: #3c4557;
        color:white;
        width:350px;
        padding-left:0px;
        margin-left:0px;
    }
</style>