<template>
  <q-page class="page-st" padding>
    <div class="page-container">

      <q-card class="main-card">
        <div class="card-container">
          <q-card-section class="index-card-header">
              <center>
                <div class="text-h6"><q-icon size="lg"  name="person"/>&nbsp;<b>Información Personal </b></div>
              </center>
              <q-separator />
          </q-card-section>    

          <q-card-section>
            <div class="row">
          <div class="col">
              <q-input
                
                label="Nombres"
                v-model="nombres"
                :readonly="true"
                />
          </div>
          
        </div>
        <div class="row">
          <div class="col">
            <q-input
                
                label="Apellidos"
                v-model="apellidos"
                :readonly="true"
                />
          </div>
        </div>
        <div class="row">
          <div class="col">
              <q-input
                
                label="Fecha de Nacimiento"
                v-model="fecha_nacimiento"
                :readonly="true"
                />
          </div>
          
        </div>
        <div class="row">
          <div class="col">
            <q-input
              
                label="Lugar de Nacimiento"
                v-model="lugar_nacimiento"
                :readonly="true"
                />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-input
              label="Sexo"
              v-model="sexo"
              :readonly="true" 
            />
          </div>
          
        </div>
        <div class="row">
          <div class="col">
            <q-input
              label="Estado Civil"
              v-model="estado_civil"
              :readonly="true" 
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-input
              label="Correo Electrónico"
              v-model="correo_electronico"
              :readonly="true" 
            />
          </div>
        </div>
        
        <br />
        <div class="row">
          <div class="col">
            <label class="q-mt-xl" for=" ">Números de Teléfono:</label>
            <br />
            <q-scroll-area
                :thumb-style="thumbStyle"
                :bar-style="barStyle"
                style="height: 100px; max-width: 300px;"
              >
              <q-list bordered>
                  <q-item clickable v-ripple v-for="(element, index) in telefonos" :key="index">
                    <q-item-section>{{element.numero}}</q-item-section>
                    <q-item-section>
                      <q-icon color="primary" :name="element.icon"/>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-scroll-area>
          </div>
        </div>
          </q-card-section>
          </div>
      </q-card>

      <q-card class="main-card">
        <q-card-section class="index-card-header">
            <center>
              <div class="text-h6"><q-icon size="lg"  name="badge"/>&nbsp;<b>Documentos Personales </b></div>
            </center>
            <q-separator />

        </q-card-section>

        <q-card-section>
        <div class="row">
          <div class="col">
            <q-input
              label="DUI"
              v-model="numero_documento_dui"
              :readonly="true" 
            />
          </div>
          
        </div>
        <div class="row">
          <div class="col">
            <q-input
              label="NIT"
              v-model="numero_documento_nit"
              :readonly="true" 
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-input
              label="NUP"
              v-model="numero_documento_nup"
              :readonly="true" 
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-input
              label="Licencia de Conducir"
              v-model="tipo_licencia_conducir"
              :readonly="true" 
            />
          </div>
          
        </div>

        <div class="row">
          <div class="col">
            <q-input
              label="Clase de Conducir"
              v-model="clase_licencia_conducir"
              :readonly="true" 
            />
          </div>
        </div>
        </q-card-section>
      </q-card>

  
    </div>
  </q-page>
</template>

<script>
export default {
  name:"Index",
  data() {
    return {
      nombres: "Salvatore",
      apellidos: "Vulcano",
      fecha_nacimiento:"29-09-1995",
      lugar_nacimiento:"San Salvador",
      sexo: "Masculino",
      estado_civil: "Soltero",
      numero_documento_dui:"052464776",
      numero_documento_iss:"118054806",
      numero_documento_nit:"06142909951250",
      numero_documento_nup:"34876783345",
      tipo_licencia_conducir:"automovil",
      clase_licencia_conducir:"liviana",
      correo_electronico:"salvadorehchavez@gmail.com",
      telefonos:[
        {numero:"2277-7777", icon:"call"},
        {numero:"7180-8310", icon:"phone_iphone"},
        {numero:"7180-8310", icon:"phone_iphone"},
      ],

      // q-scroll-area thumbstyle
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#027be3',
        width: '5px',
        opacity: 0.75
      },

      //q-scroll-area barstyle
      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#027be3',
        width: '9px',
        opacity: 0.2
      }
    }
  }

}
</script>

<style>

.page-st {
    padding-left:5px;
    align-content: center;
}
.main-card {
    border:1px;
    border-style:none;
    width:350px;
    margin-bottom:15px;
   
}
.page-container {
  height: 670px;
  overflow-y:scroll;
  padding-left:20px;
  padding-top:20px;
}

.card-container {
    padding:0px;
    background-color: #f4f7fd;
    
}

.index-card-header {
    background-color: #3c4557;
    color:white;
    width:350px;
    padding-left:0px;
    margin-left:0px;
}

.form-container {
  padding-left:15px;
  padding-bottom:15px;
}


</style>