<template>
    <q-page class="page-s" padding>
     
        <div class="form-container">
  
            <q-card
                class=" main-card">
                
                <div class="card-container">
                
                    <q-card-section class="perfil-card-header">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <div class="text-h6"><q-icon size="lg"  name="settings"/>&nbsp;<b>Cuenta</b></div>
                                </center>
                            </div>
                        </div>
                    </q-card-section> 

                    <q-card-section>
                        <div class="row">
                            <div class="col-12">
                                <center>
                                    <div v-if="change_img == false">
                                        <q-avatar size="100px" font-size="52px" color="teal" text-color="white" >S</q-avatar>
                                        &nbsp;&nbsp;
                                            <q-btn
                                            round
                                            color="warning"
                                            size="sm"
                                            icon="add_a_photo"
                                            @click="change_img = !change_img"
                                            
                                        />
                                    </div>
                                    <div v-else>

                                    <div class="row">
                                        <div class="col">
                                            <q-file  outlined bottom-slots standout v-model="n_img" max-files="1" label="seleccione una foto">
                                            <template v-slot:prepend>
                                                <q-icon name="cloud_upload" />
                                            </template>

                                            <template v-slot:append>
                                                <q-icon v-if="n_img !== null" name="close" @click.stop.prevent="n_img = null" class="cursor-pointer" />
                                                <q-icon name="search" @click.stop.prevent />
                                            </template>

                                        </q-file>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <q-btn 
                                                outline 
                                                rounded 
                                                color="primary" 
                                                @click="guardar_cambio_imagen" 
                                                :readonly="loading_img" 
                                                label="Guardar cambios"
                                                :loading="loading_img"
                                                >
                                                
                                            </q-btn>
                                            <q-btn outline  rounded color="deep-orange" @click="cancelar_cambio_imagen" label="Cancelar"/>
                                        </div>
                                    </div>

                                    </div>
                                </center>
                            </div>
                            
                        </div>
                    </q-card-section>

                    <q-card-section>
                        <div class="text-h6">Datos Personales</div>
                    </q-card-section>
                    <q-separator />
                    
                    <q-card-section>
                                <!-- <div class="row">
                            <div class="col-5">
                                <q-select readonly outlined v-model="option_tipo_documento" :options="options_tipo_documento" label="Tipo de documento" />
                            </div>
                            <div class="col">
                                <q-input :readonly="true" standout v-model="numero_documento" label="Número de Documento" />
                            </div>
                        </div> -->
                        <br />
                        <div class="row">
                            <div class="col">
                                <q-input :readonly="true" standout v-model="direccion" label="Dirección" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <q-card-section>
                                    <div class="text-h6">Datos de la cuenta</div>
                                </q-card-section>
                                <q-separator />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <q-input 
                                    
                                    standout 
                                    v-model="correo_electronico" 
                                    :readonly="!editar_campos" 
                                    label="Correo Electrónico"
                                    :rules="[ val =>val.length > 0 || 'Este campo es requerido']"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <q-input 
                                    
                                    standout 
                                    v-model="numero_telefono" 
                                    :readonly="!editar_campos" 
                                    label="Número de Telefono"
                                    :rules="[ val =>val.length > 0 || 'Este campo es requerido']"
                                />
                            </div>
                        </div>
                
                        <div class="row" v-if="editar_campos">
                            <div class="col">
                                <div class="q-pa-md float-right">
                                    <q-checkbox v-model="chck_change_password" label="Cambiar Contraseña" />
                                </div>
                            </div>
                        </div>

                        <div class="nueva_contrasenia" v-if="chck_change_password">
                            <div class="row">
                                <div class="col">
                                    <q-input 
                                        
                                        standout 
                                        v-model="new_password_1" 
                                        label="ingrese la nueva contraseña"
                                        :rules="[ val =>val.length > 0 || 'Este campo es requerido']"
                                    />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col">
                                    <q-input 
                                        
                                        standout 
                                        v-model="new_password_2" 
                                        label="confirme la nueva contraseña"
                                        :rules="[ val =>val.length > 0 || 'Este campo es requerido']"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row" v-if="editar_campos == false">
                            <div class="col">
                                <div class="float-right">
                                    <q-btn flat color="primary" label="Editar" @click="editarCamposCuenta" />
                                </div>
                            </div>
                        </div>

                        <div class="row" v-else>
                            <div class="col">
                                <div class="float-right">
                                    <q-btn 
                                        outline 
                                        rounded 
                                        color="primary" 
                                        @click="guardar_cambios" 
                                        :readonly="loading_update" 
                                        label="Guardar cambios"
                                        :loading="loading_update"
                                        >
                                        
                                    </q-btn>
                                    <q-btn outline  rounded color="deep-orange" @click="cancelar_edicion" label="Cancelar"/>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col">
                                <center><q-btn outline rounded color="deep-orange" label="Cerrar Sesión" /></center>
                            </div>
                        </div>
                    </q-card-section>

                
                </div>
            </q-card>  
    
        </div>
        

        <q-dialog v-model="show_dialog">
            <q-card>
                <q-card-section>
                    <center>
                        <q-icon 
                            name="done_outline"
                            size='lg'
                            color="teal"
                        />
                    </center>
                </q-card-section>

                <q-card-section class="q-pt-none">
                    {{dialog_message}}
                </q-card-section>

                <q-card-actions align="right">
                    <q-btn flat label="OK" color="primary" v-close-popup />
                </q-card-actions>
            </q-card>
        </q-dialog>

    </q-page>
</template>

<script>
export default {
    name:"Cuenta",
    data() { 
        return  {
            direccion:"Urb Coruña 1",
            correo_electronico: "correo_prueba@prueba.com",

            numero_telefono: "2277-7777",

            options_tipo_documento: ["DUI"],
            option_tipo_documento: "DUI",

            chck_change_password: false,
            new_password_1:"",
            new_password_2:"",

            numero_documento: "052484669",

            editar_campos: false,

            loading_update: false,

            show_dialog: false,
            dialog_message:"",

            change_img: false,
            n_img: null,
            loading_img: false,

        }
    },

    methods: {
        editarCamposCuenta() {
            this.editar_campos = !this.editar_campos;
            this.chck_change_password = false;
        },

        guardar_cambios () {
            this.loading_update = true;
            
            // simulación de llamada a Endpoint
            setTimeout(()=>{
                this.editar_campos = !this.editar_campos;
                this.chck_change_password = false;
                this.loading_update = false;
                this.dialog_message="Se actualizó los campos correctamente."
                this.show_dialog=true;
            },10000)
        },

        cancelar_edicion () {
            this.editar_campos = !this.editar_campos;
            this.chck_change_password = false;
        },

        cancelar_cambio_imagen () {
            this.change_img = false;
        },

        guardar_cambio_imagen () {
           this.loading_img = true;

            setTimeout(() =>{
                this.dialog_message="Se actualizó la imagen correctamente."
                this.show_dialog=true;
                this.change_img = false;
                this.loading_img = false;
            }, 10000);
        }

    }
}
</script>

<style>
.page-s {
    padding-left:5px;
    align-content: center;
}
.main-card {
    border:1px;
    border-style:none;
    width:350px;
}

.card-container {
    padding:0px;
    background-color: #f4f7fd;
    
}

.form-container {
  padding-left:20px;
  padding-top:20px;
  height: 670px;
    overflow-y:scroll;
}

.perfil-card-header {
    background-color: #3c4557;
    color:white;
    width:350px;
    /* border-radius:20px; */
    /* height:40px;
    padding-top:5px; */
    /* margin-bottom:10px; */
    padding-left:0px;
    margin-left:0px;
}
    
</style>