<template>
    <q-page class="page" padding>
        <div class="row">
            <div class="col" style="padding-left: 10px; text-align: left;">
                <label class="text-center text-bold" style="font-size: 20px;"><b>Tarjetas Bancarias</b></label>
            </div>
        </div>
        <!-- <div class="row" style="position: relative;  padding-left: 50px; ">
                <div class="row" v-for="lista, index in listaTarjetasUsuario" :key="index">
                    <div class="col-12" style=" text-align: center;">
                        <q-card v-if="index == 0" class="primerTarjeta" v-bind:style="lista.color_tarjeta">
                            <div class="row" style="position: relative">
                                <card-section style="margin-top: 10px;">
                                    <img alt="Quasar logo" v-bind:src="lista.distribuidor_servicio_financiero"
                                        style="width: 250px; height: 60px; text-align: left; ">
                                </card-section>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(0, 4) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(4, 8) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(8, 12) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(12, 16) }}</label>
                                    </card-section>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 15px;">
                                            {{ lista.fecha_expedicion }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 15px;">
                                            valid thru: {{ lista.fecha_vencimiento }}</label>
                                    </card-section>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-8 col-md-8 col-xl-8 col-sm-8" style="text-align: left;">
                                    <card-section style="margin-top: 10px; ">
                                        <label class="text-center text-bold"
                                            style="text-align: left; height: 10px; margin-top: 10px; font-size: 18px;">
                                            {{ lista.nombre_usuario }}
                                        </label>
                                    </card-section>
                                </div>
                                <div class="col-xs-4 col-md-4 col-xl-4 col-sm-4" style="text-align: right;">
                                    <card-section style="margin-top: 10px;">
                                        <img alt="Quasar logo" src="~assets/visa.png"
                                            style="width: 100px; height: 50px; text-align: left; ">
                                    </card-section>
                                </div>
                            </div>
                        </q-card>
                        <q-card v-if="index == 1" class="segundaTarjeta" v-bind:style="lista.color_tarjeta">
                            <div class="row">
                                <card-section style="margin-top: 10px;">
                                    <img alt="Quasar logo" v-bind:src="lista.distribuidor_servicio_financiero"
                                        style="width: 250px; height: 60px; text-align: left; ">
                                </card-section>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(0, 4) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(4, 8) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(8, 12) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(12, 16) }}</label>
                                    </card-section>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 15px;">
                                            {{ lista.fecha_expedicion }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 15px;">
                                            valid thru: {{ lista.fecha_vencimiento }}</label>
                                    </card-section>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-8 col-md-8 col-xl-8 col-sm-8" style="text-align: left;">
                                    <card-section style="margin-top: 10px; ">
                                        <label class="text-center text-bold"
                                            style="text-align: left; height: 10px; margin-top: 10px; font-size: 18px;">
                                            {{ lista.nombre_usuario }}
                                        </label>
                                    </card-section>
                                </div>
                                <div class="col-xs-4 col-md-4 col-xl-4 col-sm-4" style="text-align: right;">
                                    <card-section style="margin-top: 10px;">
                                        <img alt="Quasar logo" src="~assets/visa.png"
                                            style="width: 100px; height: 50px; text-align: left; ">
                                    </card-section>
                                </div>
                            </div>
                        </q-card>
                        <q-card v-if="index == 2" class="terceraTarjeta"
                            v-bind:style="lista.color_tarjeta">
                            <div class="row">
                                <card-section style="margin-top: 10px;">
                                    <img alt="Quasar logo" v-bind:src="lista.distribuidor_servicio_financiero"
                                        style="width: 250px; height: 60px; text-align: left; ">
                                </card-section>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(0, 4) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(4, 8) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(8, 12) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ lista.numero_cuenta.slice(12, 16) }}</label>
                                    </card-section>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 15px;">
                                            {{ lista.fecha_expedicion }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 15px;">
                                            valid thru: {{ lista.fecha_vencimiento }}</label>
                                    </card-section>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-8 col-md-8 col-xl-8 col-sm-8" style="text-align: left;">
                                    <card-section style="margin-top: 10px; ">
                                        <label class="text-center text-bold"
                                            style="text-align: left; height: 10px; margin-top: 10px; font-size: 18px;">
                                            {{ lista.nombre_usuario }}
                                        </label>
                                    </card-section>
                                </div>
                                <div class="col-xs-4 col-md-4 col-xl-4 col-sm-4" style="text-align: right;">
                                    <card-section style="margin-top: 10px;">
                                        <img alt="Quasar logo" src="~assets/visa.png"
                                            style="width: 100px; height: 50px; text-align: left; ">
                                    </card-section>
                                </div>
                            </div>
                        </q-card>

                    </div>
                </div>
            <TarjetaBancariaDialog />
        </div> -->
        <TarjetaBancariaDialog />
        <!-- <div  class="row" style="position: relative;  padding-left: 50px; margin-top: 350px;">
            <div class="row">
                    <div class="col-12" style=" text-align: center;">
                            <transition name="route" mode="out-in">
                            <q-card v-touch-swipe.mouse='handleSwipe2' class="terceraTarjeta" v-if="listaTarjetasUsuario.length>0"
                            v-bind:style="listaTarjetasUsuario[0].color_tarjeta">
                            <div class="row">
                                <card-section style="margin-top: 10px;">
                                    <img alt="Quasar logo" v-bind:src="listaTarjetasUsuario[0].distribuidor_servicio_financiero"
                                        style="width: 250px; height: 60px; text-align: left; ">
                                </card-section>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ listaTarjetasUsuario[0].numero_cuenta.slice(0, 4) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ listaTarjetasUsuario[0].numero_cuenta.slice(4, 8) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ listaTarjetasUsuario[0].numero_cuenta.slice(8, 12) }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 25px;">
                                            {{ listaTarjetasUsuario[0].numero_cuenta.slice(12, 16) }}</label>
                                    </card-section>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 15px;">
                                            {{ listaTarjetasUsuario[0].fecha_expedicion }}</label>
                                    </card-section>
                                </div>
                                <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                                    <card-section style="text-align: left; width: 250px;">
                                        <label class="text-center text-bold"
                                            style="text-align: center; font-size: 15px;">
                                            valid thru: {{ listaTarjetasUsuario[0].fecha_vencimiento }}</label>
                                    </card-section>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-8 col-md-8 col-xl-8 col-sm-8" style="text-align: left;">
                                    <card-section style="margin-top: 10px; ">
                                        <label class="text-center text-bold"
                                            style="text-align: left; height: 10px; margin-top: 10px; font-size: 18px;">
                                            {{ listaTarjetasUsuario[0].nombre_usuario }}
                                        </label>
                                    </card-section>
                                </div>
                                <div class="col-xs-4 col-md-4 col-xl-4 col-sm-4" style="text-align: right;">
                                    <card-section style="margin-top: 10px;">
                                        <img alt="Quasar logo" src="~assets/visa.png"
                                            style="width: 100px; height: 50px; text-align: left; ">
                                    </card-section>
                                </div>
                            </div>
                        </q-card>
                        </transition>
                    </div>
                </div>
        </div> -->

        <div class="listaTarjetas" style="position: static;">
            <ul :style="listLength">
                <li v-for="lista, index in listaTarjetasUsuario" :key="index" :style="handleSwipe2">
                    <q-card v-touch-swipe.mouse='handleSwipe2' class="Tarjeta" v-bind:style="lista.color_tarjeta">
                        <div class="row">
                            <card-section style="margin-top: 10px;">
                                <img alt="Quasar logo" v-bind:src="lista.distribuidor_servicio_financiero"
                                    style="width: 250px; height: 60px; text-align: left; ">
                            </card-section>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                <card-section style="text-align: left; width: 250px;">
                                    <label class="text-center text-bold" style="text-align: center; font-size: 25px;">
                                        {{ lista.numero_cuenta.slice(0, 4) }}</label>
                                </card-section>
                            </div>
                            <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                <card-section style="text-align: left; width: 250px;">
                                    <label class="text-center text-bold" style="text-align: center; font-size: 25px;">
                                        {{ lista.numero_cuenta.slice(4, 8) }}</label>
                                </card-section>
                            </div>
                            <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                <card-section style="text-align: left; width: 250px;">
                                    <label class="text-center text-bold" style="text-align: center; font-size: 25px;">
                                        {{ lista.numero_cuenta.slice(8, 12) }}</label>
                                </card-section>
                            </div>
                            <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                                <card-section style="text-align: left; width: 250px;">
                                    <label class="text-center text-bold" style="text-align: center; font-size: 25px;">
                                        {{ lista.numero_cuenta.slice(12, 16) }}</label>
                                </card-section>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                                <card-section style="text-align: left; width: 250px;">
                                    <label class="text-center text-bold" style="text-align: center; font-size: 15px;">
                                        {{ lista.fecha_expedicion }}</label>
                                </card-section>
                            </div>
                            <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                                <card-section style="text-align: left; width: 250px;">
                                    <label class="text-center text-bold" style="text-align: center; font-size: 15px;">
                                        valid thru: {{ lista.fecha_vencimiento }}</label>
                                </card-section>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-8 col-md-8 col-xl-8 col-sm-8" style="text-align: left;">
                                <card-section style="margin-top: 10px; ">
                                    <label class="text-center text-bold"
                                        style="text-align: left; height: 10px; margin-top: 10px; font-size: 18px;">
                                        {{ lista.nombre_usuario }}
                                    </label>
                                </card-section>
                            </div>
                            <div class="col-xs-4 col-md-4 col-xl-4 col-sm-4" style="text-align: right;">
                                <card-section style="margin-top: 10px;">
                                    <img alt="Quasar logo" src="~assets/visa.png"
                                        style="width: 100px; height: 50px; text-align: left; ">
                                </card-section>
                            </div>
                        </div>
                    </q-card>
                </li>
            </ul>
        </div>
        <!-- <transition appear enter-active-class="animated slideInRight" leave-active-class="animate slideOutRight">
            <q-card-section>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam vero sint neque vitae fuga sit placeat
                laborum praesentium voluptas nulla. Repudiandae suscipit fugiat quas exercitationem eligendi dolore
                quaerat placeat perferendis.
            </q-card-section>
        </transition> -->
        <!-- <button v-on:click="utlimoArriba">
            Toggle
        </button> -->
        <!-- <br/>
        <br/>
        <br/>

        <br/><br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <q-btn @click="show=true">Siguiente</q-btn>
        <q-btn @click="show=false">Anterior</q-btn>
        <transition name="slide-fade">
            <q-card class="terceraTarjeta">
                <div class="row">
                    <card-section style="margin-top: 10px;">
                        <img alt="Quasar logo" src="~assets/promerica.png"
                            style="width: 250px; height: 60px; text-align: left; ">
                    </card-section>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img alt="Quasar logo" src="~assets/chip_banco.png"
                            style="width: 100px; height: 100px; text-align: left; ">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                        <card-section style="text-align: left; width: 250px;">
                            <label class="text-center text-bold" style="text-align: center; font-size: 25px;">
                                1234</label>
                        </card-section>
                    </div>
                    <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                        <card-section style="text-align: left; width: 250px;">
                            <label class="text-center text-bold" style="text-align: center; font-size: 25px;">
                                1234</label>
                        </card-section>
                    </div>
                    <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                        <card-section style="text-align: left; width: 250px;">
                            <label class="text-center text-bold" style="text-align: center; font-size: 25px;">
                                1234</label>
                        </card-section>
                    </div>
                    <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                        <card-section style="text-align: left; width: 250px;">
                            <label class="text-center text-bold" style="text-align: center; font-size: 25px;">
                                1234</label>
                        </card-section>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                        <card-section style="text-align: left; width: 250px;">
                            <label class="text-center text-bold" style="text-align: center; font-size: 15px;">
                                10/17</label>
                        </card-section>
                    </div>
                    <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                        <card-section style="text-align: left; width: 250px;">
                            <label class="text-center text-bold" style="text-align: center; font-size: 15px;">
                                valid thru: 10/29</label>
                        </card-section>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-8 col-md-8 col-xl-8 col-sm-8" style="text-align: left;">
                        <card-section style="margin-top: 10px; ">
                            <label class="text-center text-bold"
                                style="text-align: left; height: 10px; margin-top: 10px; font-size: 18px;">
                                Ricardo Hernandez Chavez
                            </label>
                        </card-section>
                    </div>
                    <div class="col-xs-4 col-md-4 col-xl-4 col-sm-4" style="text-align: right;">
                        <card-section style="margin-top: 10px;">
                            <img alt="Quasar logo" src="~assets/visa.png"
                                style="width: 100px; height: 50px; text-align: left; ">
                        </card-section>
                    </div>
                </div>
            </q-card>
        </transition> -->
    </q-page>
</template>
  
<script>
import { ref } from 'vue'
import TarjetaBancariaDialog from 'src/components/TarjetaBancariaDialog.vue';
export default {
    components: { TarjetaBancariaDialog },
    name: 'PageIndex',
    methods: {
        // utlimoArriba(){
        //     this.listaTarjetasUsuario.push(this.listaTarjetasUsuario.shift());
        // },

        handleSwipe2({ evt, ...newInfo }) {
            let { direction } = newInfo

            console.log("DIRECCION", direction);

            if (direction === "right") {
                console.log("ENTRE DERECHA");
                this.indice = this.indice + 1 
                if(this.indice<this.listaTarjetasUsuario.length)
                {
                    this.indice = this.indice--
                }
                // this.show = true
                // this.listaTarjetasUsuario.push(this.listaTarjetasUsuario.shift());

            }
            else if ("left") {
                this.indice = this.indice - 1
                if(this.indice>=this.listaTarjetasUsuario.length)
                {
                    this.indice = this.indice++
                }
                // this.show = false
                // this.listaTarjetasUsuario.unshift(this.listaTarjetasUsuario.pop());
            }


            //this.listaTarjetasUsuario.unshift(this.listaTarjetasUsuario.pop());
            /* this.listaTarjetasUsuario.pop() */
            console.log("EVENTO", evt)
            console.log("INFO", newInfo)
            console.log("INDICe", this.indice);
            console.log("NUEVO ARREGLO", this.listaTarjetasUsuario)

            return { transform: 'translateX(-' + this.indice * 100 + '%)' }
        },
        anterior() {
            this.show = true
            this.listaTarjetasUsuario.push(this.listaTarjetasUsuario.shift());

        },
        siguiente() {
            this.show = false
            this.listaTarjetasUsuario.unshift(this.listaTarjetasUsuario.pop());

        },
        onLeft({ reset }) {
            this.$q.notify('Left action triggered. Resetting in 1 second.')
            this.finalize(reset)
        },

        onRight({ reset }) {
            this.$q.notify('Right action triggered. Resetting in 1 second.')
            this.finalize(reset)
        },

        finalize(reset) {
            this.timer = setTimeout(() => {
                reset()
            }, 1000)
        },

        touchstart(event) {
            console.log("EVENTO", event)
            this.touch.startX = event.touches[0].clientX;
            this.touch.endX = 0;
        },
        touchmove(event) {
            console.log("EVENTO", event)
            this.touch.endX = event.touches[0].clientX;
        },
        touchend() {
            console.log("EVENTO", event)
            if (!this.touch.endX || Math.abs(this.touch.endX - this.touch.startX) < 20)
                return;

            if (this.touch.endX < this.touch.startX)
                this.indice = this.indice++;
            else
                this.indice = this.indice--;
        }
    },
    data() {
        return {
            indice: 0,
            touch: {
                startX: 0,
                endX: 0
            },
            show: true,
            mostrar: false,
            textoInput: null,
            listaTarjetasUsuario: [
                {
                    numero_cuenta: "1711972709192602",
                    nombre_usuario: "Ricardo Amilcar Hernandez Chavez",
                    fecha_expedicion: "11/97",
                    fecha_vencimiento: "00/00",
                    logo_banco: "https://png2.cleanpng.com/sh/08dbb6f03d20dae46317f9254bd9031e/L0KzQoG3WcE3N6d2gJH9cnHxg8HokvVvfF51eet2ZX73g37zjBdwe15ue9H3LYbsg7K0kPF6NZ10f9G2aXPyfn79igNiNZpoh9C2NXa5QrS9hcQ2apZnS6s3N0a6RoSBWMcyPmE1S6IDOUa3Q4i9Vb5xdpg=/transparent-payments-logos-icon-visa-pay-logo-icon-visa-icon-5f62c6e45beb39.7676388716003089643765.png",
                    distribuidor_servicio_financiero: "https://png2.cleanpng.com/sh/08dbb6f03d20dae46317f9254bd9031e/L0KzQoG3WcE3N6d2gJH9cnHxg8HokvVvfF51eet2ZX73g37zjBdwe15ue9H3LYbsg7K0kPF6NZ10f9G2aXPyfn79igNiNZpoh9C2NXa5QrS9hcQ2apZnS6s3N0a6RoSBWMcyPmE1S6IDOUa3Q4i9Vb5xdpg=/transparent-payments-logos-icon-visa-pay-logo-icon-visa-icon-5f62c6e45beb39.7676388716003089643765.png",
                    color_tarjeta: {
                        "background-color": "red",
                    }
                },
                {
                    numero_cuenta: "1234567890123456",
                    nombre_usuario: "SALVADOR HERNANDEZ Hernandez Reinosa",
                    fecha_expedicion: "11/97",
                    fecha_vencimiento: "00/00",
                    logo_banco: "https://png2.cleanpng.com/sh/08dbb6f03d20dae46317f9254bd9031e/L0KzQoG3WcE3N6d2gJH9cnHxg8HokvVvfF51eet2ZX73g37zjBdwe15ue9H3LYbsg7K0kPF6NZ10f9G2aXPyfn79igNiNZpoh9C2NXa5QrS9hcQ2apZnS6s3N0a6RoSBWMcyPmE1S6IDOUa3Q4i9Vb5xdpg=/transparent-payments-logos-icon-visa-pay-logo-icon-visa-icon-5f62c6e45beb39.7676388716003089643765.png",
                    distribuidor_servicio_financiero: "https://png2.cleanpng.com/sh/08dbb6f03d20dae46317f9254bd9031e/L0KzQoG3WcE3N6d2gJH9cnHxg8HokvVvfF51eet2ZX73g37zjBdwe15ue9H3LYbsg7K0kPF6NZ10f9G2aXPyfn79igNiNZpoh9C2NXa5QrS9hcQ2apZnS6s3N0a6RoSBWMcyPmE1S6IDOUa3Q4i9Vb5xdpg=/transparent-payments-logos-icon-visa-pay-logo-icon-visa-icon-5f62c6e45beb39.7676388716003089643765.png",
                    color_tarjeta: {
                        "background-color": "green",
                    }
                },
                {
                    numero_cuenta: "1234567890123456",
                    nombre_usuario: "Ricardo Amilcar Hernandez Reinosa",
                    fecha_expedicion: "11/97",
                    fecha_vencimiento: "00/00",
                    logo_banco: "https://png2.cleanpng.com/sh/08dbb6f03d20dae46317f9254bd9031e/L0KzQoG3WcE3N6d2gJH9cnHxg8HokvVvfF51eet2ZX73g37zjBdwe15ue9H3LYbsg7K0kPF6NZ10f9G2aXPyfn79igNiNZpoh9C2NXa5QrS9hcQ2apZnS6s3N0a6RoSBWMcyPmE1S6IDOUa3Q4i9Vb5xdpg=/transparent-payments-logos-icon-visa-pay-logo-icon-visa-icon-5f62c6e45beb39.7676388716003089643765.png",
                    distribuidor_servicio_financiero: "https://png2.cleanpng.com/sh/08dbb6f03d20dae46317f9254bd9031e/L0KzQoG3WcE3N6d2gJH9cnHxg8HokvVvfF51eet2ZX73g37zjBdwe15ue9H3LYbsg7K0kPF6NZ10f9G2aXPyfn79igNiNZpoh9C2NXa5QrS9hcQ2apZnS6s3N0a6RoSBWMcyPmE1S6IDOUa3Q4i9Vb5xdpg=/transparent-payments-logos-icon-visa-pay-logo-icon-visa-icon-5f62c6e45beb39.7676388716003089643765.png",
                    color_tarjeta: {
                        "background-color": "yellow",
                    }
                }
            ],
            bandera_dialog: false,
        }
    },
    watch: {
        textoInput: {
            handler(nuevoTexto) {

                console.log("Escuchando nuevo texto", nuevoTexto)
            }
        }
    },
    computed: {
        listLengthindex() {
            return { width: this.listaTarjetasUsuario.length * 100 + '%' }
        },
        posicionLista(index) {
            console.log("INDEX", index)
            console.log("INDICE", this.indice);
            return { transform: 'translateX(-' + this.indice * 100 + '%)' }
        }
    },
    mounted() {
        this.$el.addEventListener('touchstart', event => this.touchstart(event));
        this.$el.addEventListener('touchmove', event => this.touchmove(event));
        this.$el.addEventListener('touchend', () => this.touchend());
    }
}
</script>
<style lang="scss" scoped>
.page {
    height: 100;
}

.inputTexto {
    padding-left: 10px;
}

.encabezadoTarjetas {
    height: 100;

}

.primerTarjeta {
    border-radius: 2em;
    position: absolute;
    top: 10px;
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 20px;
    align-content: center;
}

.segundaTarjeta {
    border-radius: 2em;
    position: absolute;
    top: 40px;
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 30px;
}

.terceraTarjeta {
    border-radius: 2em;
    position: absolute;
    top: 10px;
    font-family: Credit Card;
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 100px;
    background-image: "https://img.freepik.com/fotos-premium/iluminacion-superior-central-suave-fondo-pantalla-azul-celeste_148157-149.jpg?w=1380";
    box-shadow: 10px 10px 10px black;
    background-color: red;


}

.Tarjeta {
    border-radius: 2em;
    position: static;
    top: 10px;
    font-family: Credit Card;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 100px;
    background-image: "https://img.freepik.com/fotos-premium/iluminacion-superior-central-suave-fondo-pantalla-azul-celeste_148157-149.jpg?w=1380";
    box-shadow: 10px 10px 10px black;
    background-color: red;
}

.listaTarjetas {

    ul {
        display: flex;
        list-style: none;
    }

    li {
        padding: 10px;
        transition: all .5s ease;
    }
}



.custom-area {
    width: 90%;
    height: 220px;
    border-radius: 3px;
    padding: 8px
}

.custom-info pre {
    width: 180px;
    font-size: 12px
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to

/* .slide-fade-leave-active below version 2.1.8 */
    {
    transform: translateX(10px);
    opacity: 0;
}

.flip-list-move {
    transition: transform 1s;
}




.router-enter-form {
    opacity: 0;
    transform: translateX(100px);
}

.router-enter-active {
    transition: ass 0.3s ease-out;
}

.route-leave-to {
    opacity: 0;
    transform: translateX(-100px);
}

.route-leave-active {
    transition: all 0.3s ease-in;
}
</style>

  
<!-- MAQUETADO DE TARJETAS CON DATOS QUEMADOS
    <div class="col" style=" text-align: center;">
                <q-card class="terceraTarjeta">
                    <div class="row">
                        <card-section style="margin-top: 10px;">
                            <img alt="Quasar logo" src="~assets/promerica.png"
                                style="width: 250px; height: 60px; text-align: left; ">
                        </card-section>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <img alt="Quasar logo" src="~assets/chip_banco.png"
                                style="width: 100px; height: 100px; text-align: left; ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 15px;">
                                    10/17</label>
                            </card-section>
                        </div>
                        <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 15px;">
                                    valid thru: 10/29</label>
                            </card-section>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-8 col-md-8 col-xl-8 col-sm-8" style="text-align: left;">
                            <card-section style="margin-top: 10px; ">
                                <label class="text-center text-bold"  style="text-align: left; height: 10px; margin-top: 10px; font-size: 18px;">
                                    Ricardo Hernandez Chavez
                                </label>
                            </card-section>
                        </div>
                        <div class="col-xs-4 col-md-4 col-xl-4 col-sm-4" style="text-align: right;">
                            <card-section style="margin-top: 10px;">
                                <img alt="Quasar logo" src="~assets/visa.png"
                                    style="width: 100px; height: 50px; text-align: left; ">
                            </card-section>
                        </div>
                    </div>
                </q-card>
                <q-card class="segundaTarjeta">
                    <div class="row">
                        <card-section style="margin-top: 10px;">
                            <img alt="Quasar logo" src="~assets/promerica.png"
                                style="width: 250px; height: 60px; text-align: left; ">
                        </card-section>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <img alt="Quasar logo" src="~assets/chip_banco.png"
                                style="width: 100px; height: 100px; text-align: left; ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 15px;">
                                    10/17</label>
                            </card-section>
                        </div>
                        <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 15px;">
                                    valid thru: 10/29</label>
                            </card-section>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-8 col-md-8 col-xl-8 col-sm-8" style="text-align: left;">
                            <card-section style="margin-top: 10px; ">
                                <label class="text-center text-bold"  style="text-align: left; height: 10px; margin-top: 10px; font-size: 18px;">
                                    Ricardo Hernandez Chavez
                                </label>
                            </card-section>
                        </div>
                        <div class="col-xs-4 col-md-4 col-xl-4 col-sm-4" style="text-align: right;">
                            <card-section style="margin-top: 10px;">
                                <img alt="Quasar logo" src="~assets/visa.png"
                                    style="width: 100px; height: 50px; text-align: left; ">
                            </card-section>
                        </div>
                    </div>
                </q-card>
                <q-card class="primerTarjeta">
                    <div class="row" style="position: relative">
                        <card-section style="margin-top: 10px;">
                            <img alt="Quasar logo" src="~assets/promerica.png"
                                style="width: 250px; height: 60px; text-align: left; ">
                        </card-section>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <img alt="Quasar logo" src="~assets/chip_banco.png"
                                style="width: 100px; height: 100px; text-align: left; ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                        <div class="col-xs-3 col-md-3 col-xl-3" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 25px;">
                                    1234</label>
                            </card-section>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 15px;">
                                    10/17</label>
                            </card-section>
                        </div>
                        <div class="col-xs-6 col-md-6 col-xl-6" style=" text-align: center;">
                            <card-section style="text-align: left; width: 250px;">
                                <label class="text-center text-bold"  style="text-align: center; font-size: 15px;">
                                    valid thru: 10/29</label>
                            </card-section>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-8 col-md-8 col-xl-8 col-sm-8" style="text-align: left;">
                            <card-section style="margin-top: 10px; ">
                                <label class="text-center text-bold"  style="text-align: left; height: 10px; margin-top: 10px; font-size: 18px;">
                                    Ricardo Hernandez Chavez
                                </label>
                            </card-section>
                        </div>
                        <div class="col-xs-4 col-md-4 col-xl-4 col-sm-4" style="text-align: right;">
                            <card-section style="margin-top: 10px;">
                                <img alt="Quasar logo" src="~assets/visa.png"
                                    style="width: 100px; height: 50px; text-align: left; ">
                            </card-section>
                        </div>
                    </div>
                </q-card>
            </div> -->