<template>
    <div style="position: relative">
        <q-card class="cardStyle" :class="`bg-${color} text-${fontColor}`">
            <div style="position: relative">
                <q-card class="cardStyle3" :class="`bg-${color} text-${fontColor}`">
                    <div class="row">
                        <span class="text-center text-bold" style="width: 100%">
                            {{ nombreBanco }}
                        </span>

                        <div class="col-9 text-bold">
                            <q-card-section class="text-left">
                                <span class="balance">
                                    Balance
                                    <p class="text-bold">
                                        $ {{ balance }}
                                    </p>
                                </span>
                                <span class="numeroCuenta">
                                    Numero de cuenta
                                    <p class="text-uppercase q-mb-lg">
                                        {{ numeroCuenta }}
                                    </p>
                                </span>
                                <span class="nombre">
                                    Nombre
                                    <p class="text-left text-uppercase">
                                        {{ nombre }}
                                    </p>
                                </span>
                            </q-card-section>
                        </div>
                        <div class="col text-center">
                            <q-img :src="logoBanco" class="logobanco" />
                            <div class="nombre q-pt-md">
                                <span>
                                    Expiracion
                                </span>
                                <p class="text-bold">
                                    {{ expiracion }}
                                </p>
                            </div>
                            <div class="nombre q-pt-lg">
                                <q-img :src="logoTipoTarjeta" class="logotipotarjeta" />
                                <p class="text-bold q-pt-sm tipoTarjetaNombre">
                                    {{ nombreTipoTarjeta }}
                                </p>
                            </div>
                        </div>
                    </div>
                </q-card>
            </div>
            <div style="position: relative">
                <q-card class="cardStyle2" :class="`bg-${color} text-${fontColor}`">
                    <div class="row">
                        <span class="text-center text-bold" style="width: 100%">
                            {{ nombreBanco }}
                        </span>

                        <div class="col-9 text-bold">
                            <q-card-section class="text-left">
                                <span class="balance">
                                    Balance
                                    <p class="text-bold">
                                        $ {{ balance }}
                                    </p>
                                </span>
                                <span class="numeroCuenta">
                                    Numero de cuenta
                                    <p class="text-uppercase q-mb-lg">
                                        {{ numeroCuenta }}
                                    </p>
                                </span>
                                <span class="nombre">
                                    Nombre
                                    <p class="text-left text-uppercase">
                                        {{ nombre }}
                                    </p>
                                </span>
                            </q-card-section>
                        </div>
                        <div class="col text-center">
                            <q-img :src="logoBanco" class="logobanco" />
                            <div class="nombre q-pt-md">
                                <span>
                                    Expiracion
                                </span>
                                <p class="text-bold">
                                    {{ expiracion }}
                                </p>
                            </div>
                            <div class="nombre q-pt-lg">
                                <q-img :src="logoTipoTarjeta" class="logotipotarjeta" />
                                <p class="text-bold q-pt-sm tipoTarjetaNombre">
                                    {{ nombreTipoTarjeta }}
                                </p>
                            </div>
                        </div>
                    </div>
                </q-card>
            </div>
        </q-card>
    </div>
</template>
    
<script>
import { mapGetters, mapState } from "vuex";

export default {
    name: "national-card",
    props: {
        nombreBanco: null,
        color: null,
        balance: null,
        fontColor: null,
        numeroCuenta: null,
        nombre: null,
        logoBanco: null,
        expiracion: null,
        logoTipoTarjeta: {
            default: ""
        },
        nombreTipoTarjeta: null
    },
    data: () => ({}),
    computed: {
        ...mapGetters({

        }),
    },
    watch: {
        showInList(val) {
            if (val) {
                const styleDiv = document.getElementsByClassName("cardStyle");
                console.log(styleDiv[0].style.position);
            }
        }
    }
};
</script>
    
<style scoped>
.logobanco {
    width: 3em;
}

.logotipotarjeta {
    width: 3em;
}

.cardStyle {
    border-radius: 2em;
    position: absolute;
    top: 10px;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}
.cardStyle2 {
    border-radius: 2em;
    position: absolute;
    top: 10px;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: yellow;
    margin-top: 40px;
}
.cardStyle3 {
    border-radius: 2em;
    position: absolute;
    top: 10px;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: blue;
}

.balance {
    font-size: 2em;
}

.numeroCuenta {
    font-size: 1.8em;
}

.nombre {
    font-size: 1.2em;
}

.tipoTarjetaNombre {
    font-size: 0.8em;
}

@media screen and (max-width: 1180px) {
    .cardStyle {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
}

@media screen and (max-width: 670px) {
    .cardStyle {
        width: 100%;
        height: 16em;
        padding: 4%;
    }

    .balance {
        font-size: 1em;
    }

    .numeroCuenta {
        font-size: 0.9em;
    }

    .nombre {
        font-size: 0.7em;

    }

    .tipoTarjetaNombre {
        font-size: 0.8em;
    }

    .logobanco {
        width: 5em;
    }

    .logotipotarjeta {
        width: 5em;
    }
}
</style>