<template>
  <q-dialog v-model="dialog" full-width>
        <q-card>
            <div class="docdialog-container">
                <q-card-section class="card-header">
                    <div class="row">
                        <div class="col">
                            <center>
                                <div class="text-h6">Detalles de Documento</div>
                            </center>
                        </div>
                        <div class="col-2">
                            <div class="float-right">
                                <q-btn icon="close" flat round dense v-close-popup />
                            </div>
                        </div>
                    </div>
                </q-card-section>

                <q-separator />

                <q-card-section>
                    <div v-for="({campo, valor}, index) in datos_documento" :key="index">
                        <div v-if="valor.length>0" class="row" >
                            <div class="col">
                                <q-input
                                    :label="campo"
                                    :value="valor"
                                    :readonly="true"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="verificacion">
                        <div class="row">
                            <div class="col">
                                <center>
                                    
                                </center>
                            </div>
                        </div>
                    </div>
                </q-card-section>

            </div>
        </q-card>
  </q-dialog>
</template>

<script>
import {datos_doc} from './datos_doc_prueba';
export default {
    name: "DocumentoDialog",

    props: {
        show_dialog: {
            type: Boolean,
            required: true,
            
        }
    },

    data () {
        return {
            dialog: false,
            datos_documento: {},

        }
    },

    watch: {
        show_dialog: {
            handler (value, oldValue) { 
                console.log("escucho el cambio");
                this.dialog = value;
            }
        },
        dialog: {
            handler(value, oldValue) {
                if(value== this.show_dialog) {
                    this.$emit('toggleDialog')
                }
            }
        }
    },
    async created() {
        this.datos_documento = datos_doc;
    }
}
</script>

<style>
    .docdialog-container {
        height: 500px;
        overflow-y:scroll;
    }
    .card-header {
        background-color: #313945;
        color:white;
    }
</style>