<template>
  <q-dialog v-model="dialog" full-width>
        <q-card>
            <div class="tbdialog-container">
                <q-card-section class="card-header">
                <div class="row">
                    <div class="col">
                        <center>
                            <div class="text-h6">Detalles de Tarjeta</div>
                        </center>
                    </div>
                    <div class="col-2">
                        <div class="float-right">
                            <q-btn icon="close" flat round dense v-close-popup />
                        </div>
                    </div>
                </div>
                
                
                </q-card-section>

            <q-separator />

            <q-card-section>
                <div class="row">
                    <div class="col">
                        <q-input
                            label="Nombre Tarjeta Habiente"
                            v-model="nombre"
                            :readonly="true"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <q-input
                            label="Número Tarjeta"
                            v-model="numero_tarjeta"
                            :readonly="true"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <q-input 
                            label="Banco"
                            v-model="nombre_banco"
                            :readonly="true"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <q-input
                            label="Miembro desde"
                            v-model="fecha_desde"
                            :readonly="true"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <q-input
                            label="Valido Hasta"
                            v-model="fecha_vencimiento"
                            :readonly="true"
                        />
                    </div>
                </div>
            </q-card-section>

            

            <q-card-section>
                <div class="row">
                    <div class="col">
                        <center><div class="text-h6">Servicios</div></center>
                    </div>
                </div>
            </q-card-section>
                <q-separator />
            <q-card-section>

                <div class="row">
                    <div class="col">
                        <center>
                            <q-btn flat  color="primary" size="md" icon="account_balance_wallet" label="Saldos" />
                        </center>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <center>
                            <q-btn flat text-color="primary" size="md" icon="credit_score" label="Movimientos" />
                        </center>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                       <center>
                        <q-btn flat text-color="primary" size="md" icon="currency_exchange" label="Transferencias" />
                       </center>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <center>
                            <q-btn flat text-color="primary" size="md" icon="payments" label="Pago de Servicios" />
                        </center>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <center>
                            <q-btn flat text-color="primary" size="md" icon="qr_code_2" label="Pago por QR" />
                        </center>
                    </div>
                </div>
            </q-card-section>
            </div>
        </q-card>
  </q-dialog>
</template>

<script>
export default {
    name: "TarjetaBancariaDialog",
    props: {
        show_dialog: {
            type: Boolean,
            required: true,
        },
        
    },

    data () {
        return {
            dialog: false,
            nombre: "",
            numero_tarjeta:"",
            fecha_desde:"",
            fecha_vencimiento:"",
            nombre_banco:"",
        }
    },

    watch: {
        show_dialog: {
            handler (value, oldValue) { 
                console.log("escucho el cambio");
                this.dialog = value;
            }
        },
        dialog: {
            handler(value, oldValue) {
                if(value== this.show_dialog) {
                    this.$emit('toggleDialog')
                }
            }
        }
    }

}

</script>

<style>
    .btn_s {
        color:"#b1c9ff" !important;
        background-color: #b1c9ff !important;
    }
    .tbdialog-container {
        height: 500px;
        overflow-y:scroll;
    }
    .card-header {
        background-color: #313945;
    color:white;
    }
</style>