<template>
   <q-footer reveal overlay class="footer" >
        <q-tabs v-model="tab" class="text-teal">
          <div class="footerOptions">
            <q-btn flat round icon="person" label="" stack to="/"></q-btn>
          </div>
          <div class="footerOptions">
            <q-btn flat round icon="badge" label="" stack to="/Documentos"></q-btn>
          </div>
          <div class="footerOptions">
            <q-btn flat round icon="credit_card" label="" to="/tarjetas_bancarias" stack></q-btn>
          </div>
          <div class="footerOptions">
            <q-btn flat size="md" round icon="card_membership" label="" stack></q-btn>
          </div>
          <div class="footerOptions">
            <q-btn flat round icon="settings" label="" to="/cuenta" stack></q-btn>
          </div>
        </q-tabs>
    </q-footer>
</template>

<script>
export default {
    name:"LayoutFooter",
    methods:{
    escucheClick(){
      console.log("ESCUCHE")
    },
    show (grid) {
      this.$q.bottomSheet({
        dark: true,
        message: 'Bottom Sheet message',
        grid,
        actions: [
          {
            label: 'Drive',
            img: 'https://cdn.quasar.dev/img/logo_drive_128px.png',
            id: 'drive'
          },
          {
            label: 'Keep',
            img: 'https://cdn.quasar.dev/img/logo_keep_128px.png',
            id: 'keep'
          },
          {
            label: 'Google Hangouts',
            img: 'https://cdn.quasar.dev/img/logo_hangouts_128px.png',
            id: 'calendar'
          },
          {
            label: 'Calendar',
            img: 'https://cdn.quasar.dev/img/logo_calendar_128px.png',
            id: 'calendar'
          },
          {},
          {
            label: 'Share',
            icon: 'share',
            id: 'share'
          },
          {
            label: 'Upload',
            icon: 'cloud_upload',
            color: 'primary',
            id: 'upload'
          },
          {},
          {
            label: 'John',
            avatar: 'https://cdn.quasar.dev/img/boy-avatar.png',
            id: 'john'
          }
        ]
      }).onOk(action => {
        // console.log('Action chosen:', action.id)
      }).onCancel(() => {
        // console.log('Dismissed')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    }
  }
}
</script>

<style>
  .footer{
   height: 50px; background-color: #363D4D;
  }
  .footerOptions{
    margin-top: 5px; margin-right: auto; margin-left: auto; color: white;
  }

</style>