<template>
  <q-header reveal  class="header">
       <div class="row">
        <div class="col">
          <div class=" q-mt-md bg-transparent headerTitle">
            <q-avatar size="xl" font-size="32px" color="teal" text-color="white" >S</q-avatar>&nbsp;&nbsp;&nbsp;<b>{{nombre_usuario}}</b>
          </div>
        </div>
        <div class="col">
            <q-img 
              src="src/assets/logo-gob-blanco.png" 
              class="imgHeader float-right"

            />
        </div>
       </div>
    </q-header>
</template>

<script>
export default {
    name:"layout-header",

    data() {
      return {
        nombre_usuario: "John Doe",
        tipo_documento: "DUI",
        numero_documento: "052484669"
      }
    }

}
</script>

<style>
  .header{
    height: 100px; 
    background-color: #363D4D; 
    border-radius: 0 0 30px 30px;
    padding-top:15px;
  }
  .headerTitle{
    margin-left: 25px;
    color: white;
    margin-bottom:10px;

  }
  .imgHeader {
    max-height:100px;
    width:90px;
    margin-right:20px;
    color:white;
  }

</style>