<template>
  <!-- 
    
    Footer y header estatico
  <q-layout view="lHh Lpr lFf">
  
  Header estadico
  <q-layout view="hHh Lpr lff">
    lHh lpr lFf"  
  -->
  <q-layout view="lHh lpr lFf">
    
    <LayoutHeader />
    <LayoutFooter />
   
    <q-page-container class="page-container-st">
        <router-view />

    </q-page-container>

  </q-layout>
</template>

<script>
import LayoutHeader from './LayoutHeader.vue'
import LayoutFooter from './LayoutFooter.vue'

export default {
  name: 'MainLayout',
  components: {
    LayoutHeader,
    LayoutFooter,
},
  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData,
      tab:null
    }
  },
 
}
</script>
<style>
  .page-container-st {
    background-color: #29303C; 
  }
</style>
