<template>
  <q-page class="page-st" padding>
        <div class="page-container-st">
            {{child}}
        </div>
  </q-page>
</template>

<script>
export default {
    props: {
        child: {
            type: Object,
        }
    }
}
</script>

<style>
    .page-st {
        padding-left:5px;
        align-content: center;
    }
    .page-container-st {
        padding-left:20px;
        padding-top:20px;
        height: 670px;
        overflow-y:scroll;
    }
</style>